/*-------------------------------------------- STYLES HEADER + FOOTER + HOME PAGE --------------------------------------*/


/*------------------------- Style minor-header = OK (mais masqué par essai gestion header bootstrap) --------------------------*/

.minor-header {
	text-align: right;
	margin-right: 150px;
}

.minor-header li {
	background-color: white;
	padding-left: 10px;
	display: inline;
}


/*------------------------- Style main-nav = NOT OK --------------------------*/


.container-fluid {
	margin-right: auto;
	margin-left: auto;
	padding-left: 280px;
	padding-right: 15px;
}

.navbar li {
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 18px;
	font-weight: bolder;
	text-align: center;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand{ /* .navbar-brand est mon logo dans ma nav */
	margin-top: -28px;
}

.navbar-default .navbar-nav>.active>a { /* .active est la classe de ma nav qui indique le comportement de la nav sur la page active, la page du site sur laquelle on se trouve */
	/* color: red; serait la couleur du texte sur la page active */
	background: transparent; /* Remplace toutes les valeurs de background-... */
	-webkit-box-shadow: none;
	box-shadow: none;
	color: black;
}

.navbar-default .navbar-nav>.active>a:hover {
	background-color: transparent;
}

#bs-example-navbar-collapse-1 > ul > li > a:hover {
	color: black;
}

.navbar.green {
	background: green;
	border: none;
	border-radius: 0;
	margin-top: 20px;
	margin-bottom: 0;
}

.navbar-default .navbar-nav>li>a {
	color: white;
}


/*---------------------- Style section = NOT OK -----------------------*/

.partie-centrale {
	background: url(/img/guethary_2.png);	
}

.row {
	height: 580px;
}

.accroche {
	font-family: Myriad Web Pro;
	font-size: 30px;
	font-weight: bold;
	color: green;
	padding-top: 65px;
	padding-bottom: 45px;
}

.cta {
	font-family: Myriad Web Pro;
	font-size: 24px;
	font-weight: bold;
	padding: 5px;
	border: solid;
	border-color: green;
	text-align: center;
	width: 230px;
	float: right;
}



.cta a {
	color: green;
}

.cta a:hover {
	color: white;
	text-decoration: none;
	border-color: white; /* est censé passer la bordure du cta en blanc au roll-over mais ne marche pas */
}



/*------------------------------------------- Style foot = OK -----------------------*/


.foot {
	text-align: center;
	padding-top: 5px;
}

.foot li {
	display: inline;
	font-family: Frutiger;
	font-size: 13px;
}

.navbar {
	border-radius: 0;
}



/* ----------------------------- Media Queries ---------------------------------------------------- */

@media (min-width: 500px) {
	body {
		/* background-color: black; */
	}
}

@media (min-width: 768px) {
	.navbar-nav {
		float: left;
		padding-top: 5px;
	}
}





