/*------------------------- HOME PAGE --------------------------*/


/*------------------------- Style minor-header = OK --------------------------*/

.minor-header {
	text-align: right;
	margin-right: 150px;
}

.minor-header li {
	background-color: white;
	padding-left: 10px;
	display: inline;
}

.navbar li {
	font-family: Chalkduster;
	font-size: 18px;
	font-weight: bold;
	/*text-align: center;*/
}



/*------------------------- Style main-nav = NOT OK --------------------------*/

.main-nav {
		background-color: green;
		text-align: center;
		padding: 5px;
		display: table;
		width:100%;
		margin-right: 150px;
}

.main-nav li {
	color: white;
	font-family: Frutiger;
	font-style: ;
	font-size: 20px;
	display: table-cell;
	vertical-align: middle;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand{
	margin-top: -36px;
}

.navbar-default .navbar-nav>.active>a {
	color: red; /* couleur de texte */
	background: transparent; /* Remplace toutes les valeurs de background-... */
	-webkit-box-shadow: none;
	box-shadow: none;
}

.navbar-default .navbar-nav>.active>a:hover {
	background-color: transparent;
}

#bs-example-navbar-collapse-1 > ul > li > a:hover {
	color: black;
}

.navbar.green{
	background: green;
	border: none;
	border-radius: 0;
	margin-top: 40px;
	margin-bottom: 0;
}

.navbar-default .navbar-nav>li>a {
	color: white;
}


/*---------------------- Style section = NOT OK -----------------------*/

.right {
	text-align: right;
}

.accroche {
	position: absolute;
	top: 45%;
	text-align: right;
}

/*
h1 {
	color: green;
	font-family: Frutiger;
	font-size: 24px;
	text-indent: 870px;
	padding-bottom: 10px;
	position: ;
}


.cta {
	position: ;
	text-indent: 870px;
	font-family: Frutiger;
	font-size: 20px;
	font-weight: bolder;
	color: white;
	background-color: green;
	padding-top: 5px;
	padding-bottom: 5px;
} 
*/

/*--------------- Style foot = OK -----------------------*/
.foot {
	text-align: center;
	padding-top: 5px;
	padding-bottom: 1px;
}

.foot li {
	display: inline;
	font-family: Frutiger;
	font-size: 13px;
}

/*Media Queries */

@media (min-width: 500px) {
	body {
		/* background-color: black; */
	}
}